$blue: #0071BC;
$dark-blue: #00558D;
$light-blue: #CCE3F2;
$nav-space :10px;

.row {max-width:66.5rem;}

body {font-family: 'Lato', sans-serif; color:#4D4D4D;}


$transition-time: 0.25s;

header {position:fixed; z-index: 1000; width:100%;  transition:all $transition-time;
  background:$blue; color:#fff; padding:25px 0 20px;
  .logo {float:left; width:114px; margin:0 20px 0 0; transition:all $transition-time;
  }
  .name {float:left; font-size:28px; font-weight:900; margin-top:16px; transition:all $transition-time;
    a{color:#fff;}
  }
  .nav-wrap {float:right; position:relative; margin-top:38px; transition:all $transition-time;}
   ul.navigation {margin:0; padding:0; font-size:18px;
    li {list-style:none; display:inline-block;
      a {color:#fff; padding:0 $nav-space;}
    }
    li:after {content:"|"; color:#000;}
    li:last-child:after {content:"";}
    li:last-child a {padding:0 0 0 $nav-space;}
  }
  a{color:#fff;}
  a:hover{color:#fff;}
}

header.shrink {padding:10px 0; 
  .logo {width:55px; transition:all $transition-time; margin-top:5px;}
  .logo img{width:55px; transition:all $transition-time;}
  .name {margin-top:0; transition:all $transition-time;}
  .nav-wrap {margin-top:9px; transition:all $transition-time;}
  .hamburger {top:10px;}
}

.hamburger {display:block; font-size:1.5rem; position:relative; top:20px; font-family: 'Lato', sans-serif;
  a {color:#fff; background:#000; display:block;}
}

ul#mobile-navigation {margin:30px 0 0px; padding:0;
  li {list-style:none;
   a {color:#fff; font-size:1.5rem; display:block;}
  }
}


h1,h2,h3,h4,h5 {color:$blue;}

h1{font-size:2.5rem;}
h2{font-size:1.6875rem;}
h3{font-size:1.4375rem;}
h4{font-size:1.125rem;}

a, a:link {transition:all .25s;}

.main-content {padding-top:161px;}
.project-logo {
  .card {display:block; border-radius:5px; transition:all 0.25s;}
  img {border-top-left-radius:5px; border-top-right-radius:5px;}
  p {transition:all 0.25s; z-index:2; position:relative; background:#fff; margin:0; border:1px solid #aaa; padding:15px; border-top:0; border-bottom-left-radius:5px; border-bottom-right-radius:5px;}
  a {color:#4D4D4D}
  &:hover {
    img{box-shadow:0 0 8px rgba(0,0,0,0.4); opacity:0.95;}
    p {box-shadow:0 0 8px rgba(0,0,0,0.3);}
  }
}


.shots {
    img {padding:1px; background:#ccc; transition:all 0.25s;
      &:hover {box-shadow:0 0 8px rgba(0,0,0,0.4); opacity:0.95;}
    }
}


.case-study p {margin-bottom:70px; font-size:1.2rem;}
.case-study h2{margin-top:60px;}
.hero {height:664px; color:#fff;}
.teambooster {background:#17527D url(../img/teambooster-hero.jpg); background-attachment:fixed; background-position:center center; background-size:cover; position:relative; 
    .v-align {position:absolute; height:174px; transform: translate(-50%,-50%); top:50%; left:50%;}
    h1 {color:#fff; font-family: 'Roboto Slab', serif; padding-top:20px; font-size:3rem; font-weight:700;}
}

.blocbox {background:url(../img/teambooster-hero.jpg); background-attachment:fixed; background-position:center center; background-size:cover; position:relative; 
    .v-align {position:absolute; height:174px; transform: translate(-50%,-50%); top:50%; left:50%;}
    h1 {color:#fff; font-family: 'Roboto Slab', serif; padding-top:20px; font-size:3rem; font-weight:300;}
}


$pop: 80px;
.teambooster-landing {background:$light-blue; margin-top:$pop - 20px; margin-bottom:$pop;
  img {margin-top:-$pop; margin-bottom:-$pop; box-shadow:0 0 10px rgba(0,0,0,0.3); border-top-left-radius:5px; border-top-right-radius:5px;}
  p.caption {font-size:1rem;}
}

a.prototype{color:#fff;}
  a.prototype:hover{color:#fff;}
.prototype {background:$blue; display:block; color:#fff; padding:10px 0; text-align:center; font-weight:700; margin-top:30px; border-radius:5px;
  border-bottom:3px solid $dark-blue; border-left:2px solid $dark-blue; border-right:2px solid $dark-blue; border-top:0px solid $dark-blue;
  &:hover {background:$dark-blue;}
}

.blue-border img{border-radius:5px; border:1px solid $blue;}
.browser {
  img {box-shadow:0 0 3px rgba(0,0,0,0.3);}
}

p.caption{display:block; font-weight:300; margin-top:5px; margin-bottom:0; display:block; text-align:center;}

footer {background:$blue; padding:15px 0; margin:80px 0 0;
  ul.social{margin:0; padding:0;
    li {list-style:none; display:inline-block; margin:0 5px;
      a {font-size:24px; color:#fff; transition: all 0.25s;}
      a:hover {color:#f00;}
    }
  }
}

// Small screens
@media only screen {
  
} /* Define mobile styles */

@media only screen and (max-width: 40em) {
  header {
    .row:first-child {}
    .s-container {display:table; margin:0 auto;
    .logo {width:60px; display:table-cell; margin:0 auto; margin-right:10px;
      img {}
    }
    .name {font-size:24px; display:table-cell; margin:0;}
    }
  }
  .s-space-below {margin-bottom:30px;}
  .cf:before,
  .cf:after {content: " "; display: table;}
  .cf:after {clear: both;}
  .cf { *zoom: 1;}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
  .m-space-above {padding-top:40px;}
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */